# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      mvn_goals:
        description: "Run Build"
        type: string
        default: "clean verify"
      include_gradle_steps:
        description: "Run the Gradle wrapper & transforms"
        type: boolean
        default: true

jobs:
  build_and_test:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven Wrapper
        run: ./mvnw -B package
      - name: Create Code Coverage Output
        run: ./mvnw -B test
      - name: Archive Code Coverage Results
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage-report
          path: target/site/jacoco/jacoco.xml
          retention-days: 1
      - name: Grant Permissions to Gradle Wrapper
        run: chmod +x gradlew
      - name: Check Code Coverage File Exists
        run: ./gradlew checkExists
      - name: Transform Code Coverage Results
        run: ./gradlew transform
      - name: Archive Code Coverage Markdown File
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage-markdown
          path: target/site/jacoco/jacoco.md
          retention-days: 1
